
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}


header {
  background-color: #1a2b3c;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}


.container {
  display: flex;
  margin-top: 180px; /* space for fixed header + logo */
  padding: 20px;
}

.sidebar {
  width: 200px;
  background-color: #37474f;
  color: white;
  padding: 20px;
  height: 400px;
  overflow-y: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.content {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  height: 400px;
}

.multi-column-text {
  column-count: 3;
  column-gap: 30px;
}

.multi-column-text p {
  text-align: justify;
  margin-bottom: 20px;
}
